@use "../vars.scss";

.personal-account {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	// font-family: vars.$font-secondary;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: 70px;

	&__section-title {
		font-family: vars.$font-secondary;
		color: vars.$color-blue;
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
		margin-bottom: 20px;
	}

	&__data-fields {
		display: flex;
		flex-direction: column;
	}

	&__address-fields {
		display: flex;
		flex-direction: column;
		div {
			display: flex;
			justify-content: space-between;
			input {
				margin-right: 20px;
			}
		}
	}

	&__input {
		font-family: vars.$font-primary;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
		padding: 10px;
		border-bottom: 2px solid rgba(0, 44, 106, 1);
		margin-bottom: 10px;
		width: 100%;
	}

	&__button {
		padding: 10px 20px;
		background-color: #000;
		color: #fff;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		cursor: pointer;
		display: block;
		margin: 20px 0;

		&:hover {
			background-color: #333;
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__contact-methods {
		display: flex;
		flex-direction: column;
		// gap: 20px;
		margin: 10px 0;
	}

	&__contact-label {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__radio {
		margin: 0;
	}

	&__radio-text {
		font-size: 16px;
	}
}
.contact-methods__icon-btn {
	margin-right: 10px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;

	img {
		width: 40px;
		height: 40px;
		border-radius: 50%; // Делает иконки круглыми
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

	/* Модификатор: Активное состояние */
	&--active {
		img {
			transform: scale(1.4); // Увеличиваем иконку (56px / 40px = 1.4)
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
		}
	}
}

.login-page {
	&__btn {
		// margin-top: 35px;
		// margin-bottom: 20px;
		padding: 18px 33px;
		background: vars.$color-gray;
		color: #fff;
		width: 157px;
		height: 65px;
		border-radius: 50px;

		font-family: vars.$font-secondary;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
	}
	&__btn:hover {
		background: vars.$color-primary;

		// color: vars.$color-primary;
	}
}

.registor-page {
	&__btn {
		// margin-top: 35px;
		// margin-bottom: 20px;
		padding: 18px 33px;
		background: vars.$color-gray;
		color: #fff;
		width: 257px;
		height: 65px;
		border-radius: 50px;

		font-family: vars.$font-secondary;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
		margin-bottom: 10px;
	}
	&__btn:hover {
		background: vars.$color-primary;

		// color: vars.$color-primary;
	}
}
