@use "../vars.scss";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: vars.$font-primary;
}
.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1110px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}
.promo-banner {
	font-family: "Montserrat", sans-serif;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	span {
		color: vars.$color-primary;
	}
}
.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 15px;
}
