@use "../vars.scss";

.best-product {
	margin-top: 178px;
	max-width: 1110px;
	margin: 0 auto;
	font-family: vars.$font-primary;

	&_title {
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		letter-spacing: 0%;
	}
	.slider {
		&-track1 {
			max-width: 1110px;
			gap: 20px;
			transition: transform 0.5s ease;
			height: 425px;
		}

		&-wrapper {
			font-family: sans-serif;
			padding: 40px 0;
			position: relative;
			margin-bottom: 60px;
		}
	}

	.card {
		max-width: 255px;
		// min-height: 351px;
		border-radius: 20px;
		box-shadow: 0px 3px 5px #165cbf1a;
		overflow: visible;
		transition: all 0.3s ease;
		cursor: pointer;
		flex-shrink: 0;

		&:hover {
			transform: translateY(-5px);
			// padding-bottom: 100px;
		}

		&__image {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-radius: 20px;

			img {
				min-width: 256.424560546875px;
				min-height: 188.03570556640625px;
				width: 100%;

				border-radius: 20px;
				max-width: 100%;
				object-fit: contain;
			}
		}

		&__info {
			padding: 16px;
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&__title {
			font-family: vars.$font-primary;
			color: vars.$color-black;
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0%;
			margin: 0;
		}

		&__sku {
			font-family: vars.$font-secondary;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: 0%;
			color: #b3c0d2;
		}

		&__bottom {
			margin-top: 8px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__price {
			font-family: vars.$font-primary;
			color: vars.$color-blue;
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0%;
			text-transform: uppercase;
		}

		&__like {
			background: none;
			border: none;
			font-size: 18px;
			color: #d63031;
			cursor: pointer;
		}

		&:hover {
			.card__sizes {
				opacity: 1;
				transform: translateY(0);
				pointer-events: all;
			}
		}

		&__sizes {
			position: absolute;
			// top: ;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background: white;
			border-radius: 8px;
			// box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
			display: flex;
			gap: 8px;
			justify-content: center;
			flex-wrap: wrap;
			padding: 8px 10px;
			opacity: 0;
			transform: translateY(30px);
			pointer-events: none;
			transition: all 0.3s ease;

			span {
				font-family: vars.$font-primary;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				letter-spacing: 0%;
				text-transform: uppercase;
				color: vars.$color-blue;

				&.active {
					padding: 2px 5px;
					border-radius: 5px;
					background: vars.$color-blue;
					color: white;
				}
			}
		}
	}
	.swiper-nav {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		pointer-events: none;

		button {
			pointer-events: all;
			background: none;
			border: none;
			cursor: pointer;
			padding: 10px;

			svg path {
				transition: fill 0.3s ease;
			}

			&:hover svg path {
				fill: #4c84ff; // любой активный цвет при наведении
			}
		}

		.custom-swiper-button-prev {
			position: absolute;
			// top: 0;
			left: -60px;
		}
		.custom-swiper-button-next {
			position: absolute;
			right: -60px;
		}
	}
	.my-custom-pagination {
		display: flex;
		justify-content: center;
		gap: 80px;
		margin-top: 15px;
	}

	.my-custom-pagination .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background: #ccc;
		opacity: 1;
		margin: 0 5px;
		border-radius: 50%;
		transition: background 0.3s ease;
	}

	.my-custom-pagination .swiper-pagination-bullet-active {
		background: vars.$color-primary;
	}

	.benefits {
		display: flex;
		justify-content: space-between;

		.benefit-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 12px;

			.benefit-text {
				margin: 0;
				color: vars.$color-blue;
				font-weight: 700;
				font-size: 36px;
				line-height: 100%;
				letter-spacing: 0%;
				text-align: center;
			}
		}
	}
}
