@use "../vars.scss";

.blog {
	padding: 81px 0;

	.container {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&-title {
		font-family: vars.$font-secondary;
		color: vars.$color-blue;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		letter-spacing: 0%;
		margin-bottom: 37px;
	}

	&-content-wrapper {
		display: flex;
		gap: 30px;
		align-items: flex-start;
	}

	&-grid {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 50%;
	}

	&-card {
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 15px 5px #165cbf26;
		overflow: hidden;
		display: flex;
		transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		max-width: 540px;
		height: 170px;

		.blog-img {
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}

		.blog-content {
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}

		&:hover {
			transform: translateY(10px);
			box-shadow: 0 5px 15px #165cbf40;

			.blog-img {
				transform: scale(1.05);
				opacity: 0.9;
			}

			.blog-content {
				transform: translateX(5px);
				opacity: 0.95;
			}
		}
	}

	&-img {
		width: 100%;
		aspect-ratio: 370 / 250;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			object-position: center;
		}
	}

	&-content {
		padding: 15px 20px;

		.blog-heading {
			font-family: vars.$font-secondary;
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
			text-transform: uppercase;
			color: vars.$color-blue;
		}

		.blog-desc {
			font-family: vars.$font-primary;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
			padding-top: 9px;
			padding-bottom: 9px;
			width: 290px;
			color: rgba(41, 41, 45, 1);
		}

		.blog-date {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-family: vars.$font-primary;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			letter-spacing: 0%;
			color: #b3c0d2;

			&_watch {
				display: flex;
				align-items: center;
			}
		}
	}
}

.newsletter-card {
	max-width: 540px;
	height: 357px;
	border-radius: 8px;
	background-color: #222;
	border-radius: 22px;

	.newsletter-top {
		color: #fff;
		padding: 30px;
		text-align: center;
		// border-radius: 20px;

		.newsletter-title {
			font-family: vars.$font-secondary;
			font-weight: 900;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0%;
			text-transform: uppercase;

			&.discount {
				font-size: 18px;
				color: #ff4d4d;
				display: block;
				margin-top: 5px;
			}
		}
	}

	.newsletter-bottom {
		background-color: #f9f9f9;
		color: #333;
		padding: 30px;
		height: 250px;
		// text-align: center;
		border-radius: 20px; /* Скругление только верхних углов */
	}

	.newsletter-form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.newsletter-form input {
		padding: 10px 0;
		border: none;
		border-bottom: 1px solid #002c6a;
		border-radius: 0;
		font-size: 16px;
		color: #333;
	}

	.newsletter-form input::placeholder {
		color: #999;
		font-family: vars.$font-primary;
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	.newsletter-form button {
		width: 234px;
		height: 56px;
		border-radius: 50px;
		background-color: #ff4d4d;
		color: #fff;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		font-family: vars.$font-secondary;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	.newsletter-form button:hover {
		background-color: scale(#ff4d4d, 10%);
	}

	.policy-link {
		margin-left: 40px;
		font-size: 12px;
		color: #777;
		text-decoration: none;
	}

	.policy-link:hover {
		text-decoration: underline;
	}
}

// Адаптация для мобильных устройств
@media (max-width: 768px) {
	.blog-content-wrapper {
		flex-direction: column; // На мобильных располагаем блоки вертикально
		gap: 20px;
	}

	.blog-grid,
	.newsletter-card {
		width: 100%; // Занимают всю ширину на мобильных
	}

	.blog-title {
		font-size: 24px;
		margin-bottom: 20px;
		text-align: center;
	}

	.newsletter-card {
		.newsletter-top {
			padding: 20px;

			.newsletter-title {
				font-size: 20px;

				&.discount {
					font-size: 16px;
				}
			}
		}

		.newsletter-bottom {
			padding: 20px;

			.newsletter-form {
				input {
					font-size: 14px;
				}

				button {
					font-size: 16px;
					padding: 12px 25px;
				}
			}

			.policy-link {
				font-size: 10px;
			}
		}
	}
}
