@use "../vars.scss";

.blogs {
	padding: 81px 0;

	&__container {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__content-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 20px;
	}

	&__grid {
		grid-area: 1 / 1 / 2 / 2;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__flex {
		grid-area: 2 / 1 / 4 / 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	&__img {
		width: 100%;

		aspect-ratio: 370 / 250;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			object-position: center;
		}
	}

	&__content-card {
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 15px 5px #165cbf26;
		overflow: hidden;
		display: flex;
		transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		max-width: 540px;
		height: 170px;

		.blogs-img {
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
		}

		&:hover {
			transform: translateY(10px);
			box-shadow: 0 5px 15px #165cbf40;

			.blog-img {
				transform: scale(1.05);
				opacity: 0.9;
			}

			.blog-content {
				transform: translateX(5px);
				opacity: 0.95;
			}
		}
	}
	&__content {
		padding: 15px 20px;

		&-desc {
			font-family: vars.$font-secondary;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0%;
			padding-top: 9px;
			padding-bottom: 9px;
			width: 290px;
			color: rgba(41, 41, 45, 1);
		}
		&-date {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			&_watch {
				display: flex;
				align-items: center;
			}
		}
	}
	&__content-heading {
	}
}

.newsletter {
	&__card {
		max-width: 540px;
		height: 357px;
		border-radius: 8px;
		background-color: #222;
		border-radius: 22px;
		// grid-row: span 2 / span 2;
		grid-area: 1 / 2 / 2 / 3;
	}

	&__top {
		color: #fff;
		padding: 30px;
		text-align: center;
		border-radius: 20px;
	}

	&__title {
		font-family: vars.$font-secondary;
		font-weight: 900;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
		text-transform: uppercase;

		&.discount {
			font-size: 18px;
			color: #ff4d4d;
			display: block;
			margin-top: 5px;
		}
	}

	&__bottom {
		background-color: #f9f9f9;
		color: #333;
		padding: 30px;
		height: 253px;
		// text-align: center;
		border-radius: 20px; /* Скругление только верхних углов */
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	&__form input {
		padding: 10px 0;
		border: none;
		border-bottom: 1px solid #002c6a;
		border-radius: 0;
		font-size: 16px;
		color: #333;
	}

	&__form input::placeholder {
		color: #999;
		font-family: vars.$font-primary;
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	&__form button {
		width: 234px;
		height: 56px;
		border-radius: 50px;
		background-color: #ff4d4d;
		color: #fff;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		font-family: vars.$font-secondary;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
	}

	&-form button:hover {
		background-color: scale(#ff4d4d, 10%);
	}
}
.policy-link {
	margin-left: 40px;
	font-size: 12px;
	color: #777;
	text-decoration: none;
}

.policy-link:hover {
	text-decoration: underline;
}
