@use "../vars.scss";

.footer {
	font-family: vars.$font-primary;
	padding: 40px 0;
	background: vars.$color-black;
	color: vars.$color-gray;

	&-container {
		max-width: 1110px;
		margin: 0 auto;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-logo img {
		width: 190px;
		height: 190px;
	}

	&-contacts {
		display: flex;
		flex-direction: column;
		gap: 35px;
		.social-icons {
			button {
				margin-right: 30px;
			}
		}

		&_me {
			// padding-bottom: 14px;
		}

		.elem1 {
			margin-bottom: 14px;
		}
	}

	&-link {
		&_list {
			display: flex;
			flex-direction: column;
		}

		&_item {
			padding-bottom: 15px;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0%;
		}
	}
	&-account {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&-btn {
		display: flex;
		padding-left: 180px;
		button {
			margin-left: 10px;
			background: #191919;
		}
	}

	&-search {
		display: flex;
		align-items: center;
		position: relative;
		width: 300px; // или подгони под макет
		// background: #fff;
		border-radius: 25px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
		padding: 0 15px;
		overflow: hidden;
	}
	.search-input {
		flex: 1;
		border: none;
		background: transparent;
		padding: 12px 10px;
		font-size: 14px;
		border-radius: 25px;
		outline: none;
		color: #c4c4c4;

		background: rgba(179, 192, 210, 0.2);
		box-shadow: inset 0px 4px 13px rgba(0, 44, 106, 0.05);

		&::placeholder {
			color: #ccc;
		}
	}

	.search-btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #1e1e1e;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		cursor: pointer;
		transition: background 0.3s;

		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

		svg {
			stroke: white;
		}

		&:hover {
			background: #333;
		}
	}
	.item {
		color: vars.$color-gray;
	}
}
