@use "../vars.scss";

.contact-bar {
	background-color: #000;
	color: #fff;
	padding: 8px 0;
	font-size: 14px;
	text-align: center;
}

/* Основная шапка */
.header {
	background-color: #fff;
	padding: 20px 0;
	max-width: 1110px;
	margin: 0 auto;

	&-grid {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas:
			"contact logo buttons"
			"nav nav nav";
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;
		align-items: center;
		gap: 30px 10px;
	}
}

.contact {
	&-info {
		display: flex;
		flex-direction: column;
		grid-area: contact;
		gap: 15px;
		white-space: nowrap;
		padding: 8px 0;
	}

	&-elem {
		display: flex;
		align-items: center;
		gap: 10px;
		font-family: vars.$font-primary;
		font-weight: 400;
		font-size: 18px;
		line-height: 100%;
		letter-spacing: 0%;
	}
}

// Кнопки
.buttons-container {
	grid-area: buttons;
	justify-self: end;
	display: flex;
	gap: 15px;
}

/* Стили круглых кнопок */
.round-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	transition: all 0.3s ease;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}

.btn-primary {
	background-color: vars.$color-black;
}

.round-btn:hover {
	transform: scale(1.1);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.round-btn:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
	transform-origin: 50% 50%;
}

.round-btn:focus:not(:active)::after {
	animation: ripple 0.6s ease-out;
}

@keyframes ripple {
	0% {
		transform: scale(0, 0);
		opacity: 0.5;
	}
	100% {
		transform: scale(20, 20);
		opacity: 0;
	}
}

/* Навигация */
.nav-wrapper {
	grid-area: nav;
}

.nav-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	.main-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-list {
		display: flex;
		gap: 32px;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.nav-item {
		position: relative;
	}

	.nav-link {
		font-family: vars.$font-secondary;
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0%;
		color: vars.$color-black;

		&:hover {
			color: vars.$color-primary;
		}
	}
	.nav-search {
		display: flex;
		align-items: center;
		position: relative;
		width: 300px; // или подгони под макет
		background: #fff;
		border-radius: 25px;
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
		padding: 0 15px;
		overflow: hidden;
	}

	.search-input {
		flex: 1;
		border: none;
		background: transparent;
		padding: 12px 10px;
		font-size: 14px;
		border-radius: 25px;
		outline: none;
		color: #333;

		&::placeholder {
			color: #ccc;
		}
	}

	.search-btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #1e1e1e;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		cursor: pointer;
		transition: background 0.3s;

		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

		svg {
			stroke: white;
		}

		&:hover {
			background: #333;
		}
	}
}
