@use "../vars.scss";
.catalog {
	font-family: vars.$font-secondary;

	&-container {
		padding: 50px 0;
		max-width: 1110px;
		margin: 0 auto;
	}
	&-content {
		display: flex;
	}
	&-filters {
		font-family: vars.$font-secondary;
		margin-right: 56px;
		height: auto;
	}

	.filter {
		padding-bottom: 50px;
		&-title {
			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0%;
			color: vars.$color-blue;
			padding-bottom: 36px;
		}
		// Стили для таблиц  размеров
		&-size_list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 8px;
		}

		&-size_item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 13px;
			color: vars.$color-blue;
			cursor: pointer;
			font-weight: 400;
			font-size: 14px;
			font-weight: 500;
			line-height: 100%;
			letter-spacing: 0%;
			transition: background-color 0.3s ease, color 0.3s ease,
				border-color 0.3s ease;
			border-radius: 5px;

			&:hover {
				background-color: vars.$color-primary;
				color: #fff;
			}

			&--active {
				background-color: #ff0000;
				color: #fff;
				border-color: #ff0000;
			}
		}

		// Стили для таблиц сезоннсть
		&-season_options {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&-season_option {
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
		}

		&-season_checkbox {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			pointer-events: none;

			& + .filter-category_label::before {
				content: "";
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 3px solid #b3c0d2;
				margin-right: 10px;
				vertical-align: middle;
				border-radius: 3px;
				transition: border-color 0.2s ease, background-color 0.2s ease;
			}

			&:checked + .filter-category_label::before {
				background-color: vars.$color-primary;
				border-color: vars.$color-primary;
			}

			&:checked + .filter-category_label::after {
				content: "";
				display: inline-block;
				width: 5px;
				height: 13px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				position: absolute;
				left: 28px;
				top: 6px;
			}
		}

		&-season_label {
			display: inline-block;
			vertical-align: middle;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
			color: vars.$color-blue;
			padding-left: 18px;
			padding-bottom: 15px;
		}

		// Стили для кнопки цветов
		&-section_color {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 15px;
		}

		&-color_item {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 1px solid transparent;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: border-color 0.2s ease, transform 0.2s ease;

			&:hover {
				border-color: #333;
				transform: scale(1.5);
			}

			&--selected {
				border-color: vars.$color-black;
			}

			&-checked {
				color: #fff;
				font-size: 16px;
				text-shadow: 0 0 2px #000;
			}
		}
		// Стили для категорий
		&-section_category-scrollhost {
			.os-scrollbar-track {
				background-color: transparent !important;
				height: 50px !important;
				padding: 2px 0;
			}

			// Стилизация ползунка (handle)
			.os-scrollbar-handle {
				background-color: #ff1818 !important;
				border-radius: 3px !important;
				opacity: 0.7 !important;
			}

			.os-scrollbar-horizontal {
				display: none !important;
				height: 0 !important;
			}

			.os-viewport {
				padding-right: 12px !important;
			}
		}
		&-category_options {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&-category_option {
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
		}

		&-category_checkbox {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			pointer-events: none;

			& + .filter-category_label::before {
				content: "";
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 3px solid #b3c0d2;
				margin-right: 10px;
				vertical-align: middle;
				border-radius: 3px;
				transition: border-color 0.2s ease, background-color 0.2s ease;
			}

			&:checked + .filter-category_label::before {
				background-color: vars.$color-primary;
				border-color: vars.$color-primary;
			}

			&:checked + .filter-category_label::after {
				content: "";
				display: inline-block;
				width: 5px;
				height: 13px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				position: absolute;
				left: 28px;
				top: 6px;
			}
		}

		&-category_label {
			font-size: 16px;
			line-height: 1.5;
			color: vars.$color-blue;
			padding-left: 18px;
			padding-bottom: 12px;
			display: inline-block;
			vertical-align: middle;
		}
		// Стиил для кнопки Sale
		&_sale {
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
		}
		&_sale-checkbox {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
			pointer-events: none;

			& + .filter_sale-label::before {
				content: "";
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 3px solid #b3c0d2;
				margin-right: 10px;
				vertical-align: middle;
				border-radius: 3px;
				transition: border-color 0.2s ease, background-color 0.2s ease;
			}

			&:checked + .filter_sale-label::before {
				background-color: vars.$color-primary;
				border-color: vars.$color-primary;
			}

			&:checked + .filter_sale-label::after {
				content: "";
				display: inline-block;
				width: 5px;
				height: 13px;
				border: solid #fff;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				position: absolute;
				left: 28px;
				top: 6px;
			}
		}

		&_sale-label {
			color: vars.$color-blue;
			padding-left: 18px;
			padding-bottom: 12px;
			display: inline-block;
			vertical-align: middle;

			font-weight: 700;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0%;
		}

		// Стили для кнопок Сбрось/Применить
		&-btn {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}
		&-apply_button {
			width: 218;
			height: 56;
			border-radius: 50px;
			background: vars.$color-primary;
			padding: 17px 53px;
			color: #fff;
			box-shadow: #e32f1f26;

			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
		}

		&-reset_button {
			width: 218;
			height: 56;
			border-radius: 50px;
			background: vars.$color-gray;
			padding: 17px 53px;
			color: #fff;

			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
		}
	}

	// Стили для карточки и сортировки товара ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

	&__main {
		flex-grow: 1;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
		gap: 20px;
	}

	&-card {
		border-radius: 20px;
		box-shadow: 0px 3px 5px #165cbf1a;
		transition: all 0.3s ease;
		cursor: pointer;
		flex-shrink: 0;
		position: relative;
		overflow: hidden;
		min-height: 325px;

		&:hover {
			transform: translateY(-5px);
		}
		&_img {
			// width: 100%;
			width: 256px;
			height: 188.03570556640625px;

			display: flex;
			justify-content: center;
			border-radius: 20px;

			img {
				// max-width: 90%;
				// max-height: 90%;
				object-fit: contain; /* не режем кроссовки/одежду */
				display: block;
			}
		}

		&_info {
			padding: 14px 16px 12px;
			display: flex;
			flex-direction: column;
			min-height: 0;
			flex: 1;
			gap: 8px;
		}

		&_title {
			font-family: vars.$font-primary;
			color: vars.$color-black;
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0%;

			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			min-height: calc(1.2em * 2);
		}

		&_sku {
			font-family: vars.$font-secondary;
			font-weight: 400;
			font-size: 12px;
			// line-height: 100%;
			// letter-spacing: 0%;
			color: #b3c0d2;

			min-height: 1.1em;
		}

		&_bottom {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&_price {
			font-family: vars.$font-primary;
			color: vars.$color-blue;
			font-weight: 700;
			font-size: 20px;
			line-height: 1;
			letter-spacing: 0%;
			text-transform: uppercase;
			white-space: nowrap;
		}

		&_like {
			background: none;
			border: none;
			font-size: 18px;
			color: #d63031;
			cursor: pointer;
		}
		&:hover {
			.card__sizes {
				opacity: 1;
				transform: translateY(0);
				pointer-events: all;
			}
		}

		&__sizes {
			// border: 2px solid #000;
			max-width: 300px;
			// min-height: 320px;
			position: absolute;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background: white;
			border-radius: 8px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
			display: flex;
			gap: 8px;
			justify-content: center;
			flex-wrap: wrap;
			padding: 8px 10px;
			opacity: 0;
			transform: translateY(30px);
			pointer-events: none;
			transition: all 0.3s ease;
			z-index: 10;

			&.visible {
				opacity: 1;
				transform: translateX(0%) translateY(60px); // Возвращаем на место (для центрированного варианта)
				// Или transform: translateY(0); // Для других вариантов
				visibility: visible;
				pointer-events: all;
				transition-delay: 0s;
			}

			span {
				font-family: vars.$font-primary;
				font-weight: 400;
				font-size: 16px;
				line-height: 100%;
				letter-spacing: 0%;
				text-transform: uppercase;
				color: vars.$color-blue;

				&.active {
					padding: 2px 5px;
					border-radius: 5px;
					background: vars.$color-blue;
					color: white;
				}
			}
		}
	}
	// Стили для кнопки Сортировать товары
	&-sorting {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 30px;
		&_title {
			font-family: vars.$font-primary;
			font-weight: 400;
			font-size: 18px;
			line-height: 100%;
			letter-spacing: 0%;
			color: rgba(179, 192, 210, 1);
			padding-right: 24px;
		}
	}
	&-sort_select {
		font-family: vars.$font-primary;
		font-weight: 400;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 0%;

		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		box-shadow: 5px 10px 30px 0px rgba(22, 92, 191, 0.1);
		border-radius: 5px;
		padding-top: 12px;
		padding-bottom: 11px;
		padding-left: 20px;
		padding-right: 44px;
		border-radius: 70px;

		font-family: vars.$font-secondary;
		font-size: 16px;
		color: #333;
		line-height: 1.3;

		max-width: 185px;
		max-height: 40px;

		cursor: pointer;

		background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"%3E%3Cpath fill="%23555555" d="M6 8L0 2l1.4-1.4L6 5.2 10.6.6 12 2z"/%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: right 15px center;
		background-size: 12px 8px;

		&::-ms-expand {
			display: none;
		}

		&:focus {
			outline: none;
			border-color: vars.$color-blue;
			box-shadow: 0 0 0 2px rgba(vars.$color-blue, 0.2);
		}
	}
}
