.custom-scrollbar_wrapper {
  position: relative;
  overflow: hidden;
}

.custom-scrollbar_content {
  overflow-y: scroll;
  height: var(--custom-scrollbar-height, auto);
  max-height: var(--custom-scrollbar-max-height, none);
  padding-right: 12px;
  /* Скрытие нативного скроллбара */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / старый Edge */
}

/* Скрытие нативного скроллбара для Webkit */
.custom-scrollbar_content::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar_track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  width: 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}

.custom-scrollbar_thumb {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #bdbdbd;
  border-radius: 3px;
  cursor: grab;
  z-index: 2;
}

.custom-scrollbar_thumb:active {
  cursor: grabbing;
  background-color: #a3a3a3; /* Примерно darken(#bdbdbd, 10%) */
}
