// src/scss/_vars.scss

// Шрифты
$font-primary: "Ruda", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Цвета
$color-primary: #ff1818; // пример основного цвета
$color-secondary: #4caf50; // пример второго цвета
$color-black: #29292d; // основной цвет текста
$color-background: #f4f4f4; // цвет фона
$color-blue: #002c6a;
$color-gray: #b3c0d2;
